.icon:before {
    content: '\f26e';
}

.icon {
    color: #1acc8d;
    font-family: bootstrap-icons;

}

.details-items li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.details-items li i {
    font-size: 20px;
    padding-right: 4px;
    color: #1acc8d; 
}