@tailwind base;
@tailwind components;
@tailwind utilities;

.w-400 {
    width: 400px;
}

.height-500 {
    height: 500px;
}

.min-w-1280 {
    min-width: 1280px;
}

.border-radius-50 {
    border-radius: 50px;
}