
.title:after {
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #1acc8d;
    margin: 4px 10px;
}


.title {
    margin-bottom: 5px;
}
.feature-item {
    content: "\f1a9";
    color: ffbb2c;
}

.features-items li {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    background-color: #ebebff;     
}